{% extends "main/base.html" %}
{% load static %}
{% block title %}My Profile{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    
    <div class="position-relative mb-5">
        <div class="profile-banner"></div>
    </div>

    
    <div class="card shadow-sm profile-card mt-5">
        <h4 class="mb-4 text-center">{{ request.user.username }}</h4>
        <div class="mb-3">
            <strong>Email:</strong>
            <p class="text-muted">{{ request.user.email }}</p>
        </div>
        <div class="mb-3">
            <strong>Date Joined:</strong>
            <p class="text-muted">{{ request.user.date_joined|date:"Y-m-d H:i" }}</p>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'accounts:edit_profile' %}" class="btn btn-primary px-4">Edit Profile</a>
        </div>
    </div>

</div>
{% endblock %}
