{% extends 'main/base.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">
            <h2 class="text-center mb-4">Sign In</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username" required class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password" required class="form-control">
                </div>
                <button type="submit" class="btn btn-success w-100 py-2">Login</button>
            </form>
            <div class="text-center mt-3">
                <small>Don't have an account?</small>
                <a href="{% url 'accounts:sign_up' %}" class="btn btn-link p-0">Sign Up</a>

            </div>
        </div>
    </div>
</div>

<style>
    input.form-control {
        height: 45px;
        border-radius: 10px;
        padding: 8px;
    }
</style>
{% endblock %}
