{% extends 'main/base.html' %}
{% block title %}Expired Products{% endblock %}
{% block content %}
<h2 style="color: #303972;">Expired Products</h2>
{% if products %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Suppliers</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>
                {% for supplier in product.suppliers.all %}
                    {{ supplier.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-success">No expired products at the moment</p>
{% endif %}
{% endblock %}
